.Header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
    z-index: 1000;
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
  }
  
  .Nav {
    display: flex; /* 使用 Flexbox 布局 */
    align-items: center; /* 垂直居中 */
  }
  
  .Nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 25px;
  }
  
  .Nav a:hover {
    background-color: white;
    color: #333;
  }
    
  .Flag {
    position: absolute;
    left: 20px; /* 位于左侧 */
    height: 5vmin;
  }
  